@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

*, body, html {
  color: $grey;
  font-family: 'Open+Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  display: flex;
}

.map {
  width: 60%;
  height: 100vh;
  background: #bbb;
}

.map > div:first-of-type {
  width: 60% !important;
}

.binList {
  width: 40%;
  padding: 20px;
  background: #ccc;
  height: 100vh;
  overflow-y: scroll;
}

.bin {
  width: 100%;
  margin-bottom: 20px;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.image-indicator {
  width: 100%;
}

.bin-image-wrapper {
  float: left;
  display: inline-block;
  margin-right: 20px;
  width: 15%;
}

.bin-image-wrapper img {
  width: 100%;
}

.bin-info {
  display: inline-block;
  width:75%;
  padding-left: 20px;
}

.bin-info h1 {
  color: #666;
  margin-bottom: 10px;
  font-size: 1.5rem;
  display: inline;
}

.percent-full-wrapper {
  position: relative;
  width: 100%;
  height: 30px;
  background: #ddd;
  font-size: 1rem;
}

.percent-full {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 10px;
  height: 30px;
  background: green;
}

.slider-panel {
  width: 100%;
}

.bin-sliders {
  width: 50%;
  margin-top: 5px;
}

.slider {
  margin-bottom: 20px;
  display: inline;
}

.slider input {
  width: 100%;
}

.wallet {
  padding: 20px;
  background: white;
  color: #666;
  margin-bottom: 20px;
  border-radius: 5px;
}

.full-bins {
  margin-bottom: 17px;
  margin-top: 7px;
}


input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #309399;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #3FC1C9;
  cursor: pointer;
  margin-top: -15px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
  border: 1px solid #309399;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #3FC1C9;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
  border: 1px solid #309399;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #3FC1C9;
  cursor: pointer;
}



/* Styling the slider path*/
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #3FC1C9;
  border-radius: 2.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3FC1C9;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #3FC1C9;
  border-radius: 2.5px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3FC1C9;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3FC1C9;
}
input[type=range]::-ms-fill-upper {
  background: #3FC1C9;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3FC1C9;
}

.parameter {
  color: #666;
  margin-bottom: 5px;
}

.buy-upgrade {
  float: right;
}

.buy-upgrade h3 {
  display: inline;
  color: #666;
  margin-right: 10px;
}

.btn {
  padding: 7px 15px;
  color: white;
  background: #3FC1C9;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0, 0.5);
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0,0,0, 0.7);
}

.game-over h1 {
  color: red;
}

.modal-content {
  display: block;
  margin:auto;
  max-width:700px;
  font-family: "Open Sans";
  padding: 20px;
  font-size:1.3em;
}

.modal {text-align: center;
  border:none;
  padding-top:50px;
}

.title{
  padding-left:20px;
  margin: auto;
  width: auto;
  display:inline-block;
}

.title h1{
  display:inline-block;
  position: relative;
  font: 150px Helvetica, Sans-Serif;
  letter-spacing: -3px;
  color: rgba(0,0,255,0.5);
}

.title h1:after {
  content: "LasPapeleras";
  position: absolute; left: 10px; top: 5px;
  color: rgba(255,0,0,0.5);
}

.modal-content {
  text-align: left;
}

/*//BUTTON*/
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: normal;
  src: local('Pacifico'), url('http://themes.googleusercontent.com/font?kit=fKnfV28XkldRW297cFLeqfesZW2xOQ-xsNqO47m55DA') format('truetype');
}
body {
  text-align: center;
}

#button {
  display: inline-block;
  margin-top: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow:    0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
  box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 50px;
  color: #fff;
}

#button span {
  display: inline-block;
  padding: 20px 30px;
  background-color: #ec528d;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
  background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
  background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
  background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
  -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
  -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
  transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

#button:hover span {
  background-color: #ec6a9c;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

#button:active, #button:focus {
  -webkit-box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
  box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
}

#button:active span {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
/*//BUTTON-END*/